{% extends "shop/base.html" %}

{% block title %}
  Касса
{% endblock %}

{% block content %}
  <h1>Касса</h1>
  <div class="order-info">
    <h3>Ваши заказы</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x 
          <a href="{% url 'cart:cart_detail' %}">{{ item.product.name|truncatechars:15 }}</a>
          <span>${{ item.total_price }}</span>
        </li>
      {% endfor %}
    </ul>
    {% if cart.coupon %}
      <li>
        "{{ cart.coupon.code }}" ({{ cart.coupon.discount }} из)
        <span class="neg">
          - $ {{ cart.get_discount|floatformat:2 }}
        </span>
      </li>
    {% endif %}
    </br>
    </br>
    <p>Итого: ${{ cart.get_total_price_after_discount|floatformat:2 }}</p>
  </div>
  <form method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Заказать"></p>
    {% csrf_token %}
  </form>
{% endblock %}
